#Activities .cont-marg{
  margin-top: 30px;
}

#Activities .container{
  text-align: center;
}

#Activities .text-item{
  width: 66.6667%;
}

#Activities .container h1{
 margin-top: 6%;
 font-weight: bold;
}

#Activities .container .no-jumbo h3{
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px;
  display: inline-block;
}

#Activities .horizontal-act{
  border: 0.6px solid #b9aaaa69;
  margin-bottom: 3%;
}


#Activities .container .no-jumbo{

  padding: 0rem 0rem;
  background-color: white;
  color: #222;
  height: max-content;
  position: relative;
  border-radius: 16px;
  transition: all .2s ease;
  box-shadow: 0px 6px 35px 0px rgba(146, 128, 128, 0.72);
  margin-left: 10px;
  margin-bottom: 2%;
  text-align: center;

}

#Activities .container .no-jumbo:hover{

  box-shadow: 10px 17.3px 50px 0 rgba(146, 128, 128, 0.72); 
}

#Activities .container .no-jumbo .image-item{
  background-color: #f8f8ff;
  background-position: center center;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  border-right: 2px solid #bababd;
  width: 32%;
  text-align: center;
}

#Activities .container .no-jumbo .actpelement{

  font-size: 1rem;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 2px;
  padding-top: 21px;
  padding-bottom: 21px;
}


#Activities .image-item a{
  color: inherit;
  text-decoration: none;
}

#Activities .actpelement a{
  display: block;
}



@media screen and (max-width: 786px){

 #Activities .container .no-jumbo .actpelement{
   font-size: 12px;
   padding-bottom: 14px;
   padding-top: 14px;
 }

 #Activities .container .no-jumbo h3{
  font-size: 20px;
}

} 

@media screen and (max-width: 575px){

  #Activities .cont-marg{
    margin-top: 0px;
  }

  #Activities .container .display-4{
    font-size: 35px;
  }

  
  #Activities .container .no-jumbo h3{
    font-size: 13px;
    margin: 0;
  }

  #Activities .container .no-jumbo .actpelement{
    font-size: 9px;
    padding-left: 6px;
    padding-bottom: 12px;
    padding-top: 12px;


  }

  #Activities .container .no-jumbo{
    height: max-content;
  } 

}



